azuredeploy/mainTemplate.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "Microsoft Sentinel Solution for Freshservice",
    "description": "This solution provides bi-directional synchronization between Microsoft Sentinel incidents and Freshservice tickets using Azure Logic Apps and the Freshservice REST API.",
    "version": "1.0.0",
    "author": "SOC Engineering",
    "support": {
      "tier": "community",
      "name": "SOC Engineering Team"
    },
    "categories": {
      "domains": ["Security - Automation (SOAR)"],
      "verticals": []
    },
    "firstPublishDate": "2024-01-01",
    "providers": ["Microsoft", "Freshservice"]
  },
  "parameters": {
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": { "description": "Location for all resources." }
    },
    "workspaceName": {
      "type": "string",
      "metadata": { "description": "Microsoft Sentinel Log Analytics workspace name." }
    },
    "workspaceId": {
      "type": "string",
      "metadata": { "description": "Microsoft Sentinel workspace resource ID." }
    },
    "freshserviceDomain": {
      "type": "string",
      "metadata": { "description": "Your Freshservice domain (e.g. yourcompany.freshservice.com)." }
    },
    "freshserviceApiKey": {
      "type": "securestring",
      "metadata": { "description": "Freshservice API key for authentication." }
    },
    "tenantId": {
      "type": "string",
      "defaultValue": "[subscription().tenantId]",
      "metadata": { "description": "Azure AD tenant ID." }
    },
    "clientId": {
      "type": "string",
      "metadata": { "description": "App Registration Client ID for Sentinel API access." }
    },
    "clientSecret": {
      "type": "securestring",
      "metadata": { "description": "App Registration Client Secret." }
    },
    "subscriptionId": {
      "type": "string",
      "defaultValue": "[subscription().subscriptionId]",
      "metadata": { "description": "Azure Subscription ID." }
    },
    "resourceGroupName": {
      "type": "string",
      "defaultValue": "[resourceGroup().name]",
      "metadata": { "description": "Resource Group containing the Sentinel workspace." }
    },
    "sentinelIncidentTag": {
      "type": "string",
      "defaultValue": "freshservice",
      "metadata": { "description": "Tag applied to Sentinel incidents to trigger Freshservice ticket creation. Leave empty to sync all incidents." }
    },
    "defaultRequesterEmail": {
      "type": "string",
      "defaultValue": "soc-automation@yourcompany.com",
      "metadata": { "description": "Default email used as the requester when creating Freshservice tickets." }
    },
    "defaultGroupId": {
      "type": "int",
      "defaultValue": 0,
      "metadata": { "description": "Default Freshservice group ID to assign tickets to (0 = unassigned)." }
    },
    "keyVaultName": {
      "type": "string",
      "metadata": { "description": "Azure Key Vault name to store secrets securely." }
    },
    "logicAppSku": {
      "type": "string",
      "defaultValue": "Standard",
      "allowedValues": ["Standard", "Consumption"],
      "metadata": { "description": "Logic App SKU tier." }
    }
  },
  "variables": {
    "sentinelToFreshservicePlaybookName": "Sentinel-Freshservice-CreateTicket",
    "freshserviceToSentinelPlaybookName": "Freshservice-Sentinel-SyncStatus",
    "incidentPollerPlaybookName": "Sentinel-Freshservice-IncidentPoller",
    "webhookReceiverPlaybookName": "Freshservice-Sentinel-WebhookReceiver",
    "connectionNameSentinel": "azuresentinel-conn",
    "connectionNameKV": "keyvault-conn",
    "sentinelBaseUrl": "[concat('https://management.azure.com/subscriptions/', parameters('subscriptionId'), '/resourceGroups/', parameters('resourceGroupName'), '/providers/Microsoft.OperationalInsights/workspaces/', parameters('workspaceName'), '/providers/Microsoft.SecurityInsights')]",
    "freshserviceBaseUrl": "[concat('https://', parameters('freshserviceDomain'), '/api/v2')]",
    "kvSecretFreshApiKey": "FreshserviceApiKey",
    "kvSecretClientSecret": "SentinelClientSecret",
    "kvSecretWebhookSecret": "FreshserviceWebhookSecret"
  },
  "resources": [
    {
      "type": "Microsoft.KeyVault/vaults/secrets",
      "apiVersion": "2023-02-01",
      "name": "[concat(parameters('keyVaultName'), '/', variables('kvSecretFreshApiKey'))]",
      "properties": {
        "value": "[parameters('freshserviceApiKey')]"
      }
    },
    {
      "type": "Microsoft.KeyVault/vaults/secrets",
      "apiVersion": "2023-02-01",
      "name": "[concat(parameters('keyVaultName'), '/', variables('kvSecretClientSecret'))]",
      "properties": {
        "value": "[parameters('clientSecret')]"
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('connectionNameSentinel')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Microsoft Sentinel Connection",
        "api": {
          "id": "[concat('/subscriptions/', parameters('subscriptionId'), '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[variables('sentinelToFreshservicePlaybookName')]",
      "location": "[parameters('location')]",
      "identity": { "type": "SystemAssigned" },
      "tags": {
        "hidden-SentinelTemplateName": "Sentinel-Freshservice-CreateTicket",
        "hidden-SentinelTemplateVersion": "1.0.0"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": { "defaultValue": {}, "type": "Object" },
            "FreshserviceDomain": { "defaultValue": "[parameters('freshserviceDomain')]", "type": "String" },
            "DefaultRequesterEmail": { "defaultValue": "[parameters('defaultRequesterEmail')]", "type": "String" },
            "DefaultGroupId": { "defaultValue": "[parameters('defaultGroupId')]", "type": "Int" },
            "KeyVaultName": { "defaultValue": "[parameters('keyVaultName')]", "type": "String" }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Get_FS_API_Key_from_KeyVault": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "[concat('https://', parameters('keyVaultName'), '.vault.azure.net/secrets/', variables('kvSecretFreshApiKey'), '?api-version=7.4')]",
                "authentication": { "type": "ManagedServiceIdentity", "audience": "https://vault.azure.net" }
              }
            },
            "Parse_API_Key": {
              "runAfter": { "Get_FS_API_Key_from_KeyVault": ["Succeeded"] },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Get_FS_API_Key_from_KeyVault')",
                "schema": { "properties": { "value": { "type": "string" } }, "type": "object" }
              }
            },
            "Map_Severity_to_Priority": {
              "runAfter": { "Parse_API_Key": ["Succeeded"] },
              "type": "Switch",
              "expression": "@triggerBody()?['object']?['properties']?['severity']",
              "cases": {
                "High": {
                  "case": "High",
                  "actions": {
                    "Set_Priority_High": {
                      "type": "SetVariable",
                      "inputs": { "name": "fsPriority", "value": 2 }
                    }
                  }
                },
                "Medium": {
                  "case": "Medium",
                  "actions": {
                    "Set_Priority_Medium": {
                      "type": "SetVariable",
                      "inputs": { "name": "fsPriority", "value": 3 }
                    }
                  }
                },
                "Low": {
                  "case": "Low",
                  "actions": {
                    "Set_Priority_Low": {
                      "type": "SetVariable",
                      "inputs": { "name": "fsPriority", "value": 4 }
                    }
                  }
                }
              },
              "default": {
                "actions": {
                  "Set_Priority_Default": {
                    "type": "SetVariable",
                    "inputs": { "name": "fsPriority", "value": 3 }
                  }
                }
              }
            },
            "Build_Entity_Context": {
              "runAfter": { "Map_Severity_to_Priority": ["Succeeded"] },
              "type": "Select",
              "inputs": {
                "from": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "select": {
                  "kind": "@item()?['kind']",
                  "name": "@coalesce(item()?['properties']?['friendlyName'], item()?['properties']?['address'], item()?['properties']?['hostName'], 'Unknown')"
                }
              }
            },
            "Create_Freshservice_Ticket": {
              "runAfter": { "Build_Entity_Context": ["Succeeded"] },
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "@concat('https://', parameters('FreshserviceDomain'), '/api/v2/tickets')",
                "headers": {
                  "Authorization": "@concat('Basic ', base64(concat(body('Parse_API_Key')?['value'], ':X')))",
                  "Content-Type": "application/json"
                },
                "body": {
                  "subject": "@concat('[SENTINEL-', triggerBody()?['object']?['properties']?['incidentNumber'], '] ', triggerBody()?['object']?['properties']?['title'])",
                  "description": "@concat('<b>Microsoft Sentinel Incident</b><br><br><b>Severity:</b> ', triggerBody()?['object']?['properties']?['severity'], '<br><b>Status:</b> ', triggerBody()?['object']?['properties']?['status'], '<br><b>Incident Number:</b> ', triggerBody()?['object']?['properties']?['incidentNumber'], '<br><b>Created Time:</b> ', triggerBody()?['object']?['properties']?['createdTimeUtc'], '<br><b>Incident URL:</b> <a href=\"', triggerBody()?['object']?['properties']?['incidentUrl'], '\">', triggerBody()?['object']?['properties']?['incidentUrl'], '</a><br><br><b>Description:</b><br>', triggerBody()?['object']?['properties']?['description'], '<br><br><b>Entities:</b><br>', string(body('Build_Entity_Context')), '<br><br><b>Alert Products:</b> ', string(triggerBody()?['object']?['properties']?['additionalData']?['alertProductNames']))",
                  "email": "@parameters('DefaultRequesterEmail')",
                  "priority": "@variables('fsPriority')",
                  "status": 2,
                  "type": "Incident",
                  "tags": ["sentinel", "auto-created"],
                  "group_id": "@parameters('DefaultGroupId')",
                  "custom_fields": {
                    "sentinel_incident_id": "@triggerBody()?['object']?['name']",
                    "sentinel_incident_number": "@triggerBody()?['object']?['properties']?['incidentNumber']",
                    "sentinel_severity": "@triggerBody()?['object']?['properties']?['severity']",
                    "sentinel_workspace": "@parameters('WorkspaceName')"
                  }
                }
              }
            },
            "Add_Comment_to_Sentinel_Incident": {
              "runAfter": { "Create_Freshservice_Ticket": ["Succeeded"] },
              "type": "ApiConnection",
              "inputs": {
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "@concat('Freshservice ticket created: ', body('Create_Freshservice_Ticket')?['ticket']?['id'], ' - ', body('Create_Freshservice_Ticket')?['ticket']?['subject'])"
                },
                "host": {
                  "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" }
                },
                "method": "post",
                "path": "/Incidents/Comment"
              }
            },
            "Tag_Sentinel_Incident": {
              "runAfter": { "Add_Comment_to_Sentinel_Incident": ["Succeeded"] },
              "type": "ApiConnection",
              "inputs": {
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "tagsToAdd": {
                    "TagsToAdd": [
                      { "Tag": "@concat('fs-ticket-', body('Create_Freshservice_Ticket')?['ticket']?['id'])" }
                    ]
                  }
                },
                "host": {
                  "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" }
                },
                "method": "post",
                "path": "/Incidents/AddTags"
              }
            }
          },
          "variables": [
            { "name": "fsPriority", "type": "integer", "value": 3 }
          ]
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('connectionNameSentinel'))]",
                "connectionName": "[variables('connectionNameSentinel')]",
                "id": "[concat('/subscriptions/', parameters('subscriptionId'), '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('connectionNameSentinel'))]"
      ]
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[variables('webhookReceiverPlaybookName')]",
      "location": "[parameters('location')]",
      "identity": { "type": "SystemAssigned" },
      "tags": {
        "hidden-SentinelTemplateName": "Freshservice-Sentinel-WebhookReceiver",
        "hidden-SentinelTemplateVersion": "1.0.0"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "TenantId": { "defaultValue": "[parameters('tenantId')]", "type": "String" },
            "ClientId": { "defaultValue": "[parameters('clientId')]", "type": "String" },
            "SubscriptionId": { "defaultValue": "[parameters('subscriptionId')]", "type": "String" },
            "ResourceGroupName": { "defaultValue": "[parameters('resourceGroupName')]", "type": "String" },
            "WorkspaceName": { "defaultValue": "[parameters('workspaceName')]", "type": "String" },
            "KeyVaultName": { "defaultValue": "[parameters('keyVaultName')]", "type": "String" }
          },
          "triggers": {
            "HTTP_Webhook_from_Freshservice": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "freshdesk_webhook": {
                      "type": "object",
                      "properties": {
                        "ticket_id": { "type": "integer" },
                        "ticket_status": { "type": "string" },
                        "ticket_resolution_notes": { "type": "string" },
                        "ticket_cf_sentinel_incident_id": { "type": "string" },
                        "ticket_cf_sentinel_incident_number": { "type": "string" },
                        "ticket_responder_email": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "actions": {
            "Validate_Sentinel_Incident_ID_Present": {
              "type": "If",
              "expression": {
                "and": [
                  { "not": { "equals": ["@triggerBody()?['freshdesk_webhook']?['ticket_cf_sentinel_incident_id']", ""] } },
                  { "not": { "equals": ["@triggerBody()?['freshdesk_webhook']?['ticket_cf_sentinel_incident_id']", null] } }
                ]
              },
              "actions": {
                "Get_Client_Secret_from_KeyVault": {
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "@concat('https://', parameters('KeyVaultName'), '.vault.azure.net/secrets/SentinelClientSecret?api-version=7.4')",
                    "authentication": { "type": "ManagedServiceIdentity", "audience": "https://vault.azure.net" }
                  }
                },
                "Get_Bearer_Token": {
                  "runAfter": { "Get_Client_Secret_from_KeyVault": ["Succeeded"] },
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "@concat('https://login.microsoftonline.com/', parameters('TenantId'), '/oauth2/v2.0/token')",
                    "headers": { "Content-Type": "application/x-www-form-urlencoded" },
                    "body": "@concat('grant_type=client_credentials&client_id=', parameters('ClientId'), '&client_secret=', body('Get_Client_Secret_from_KeyVault')?['value'], '&scope=https://management.azure.com/.default')"
                  }
                },
                "Map_FS_Status_to_Sentinel_Status": {
                  "runAfter": { "Get_Bearer_Token": ["Succeeded"] },
                  "type": "Switch",
                  "expression": "@triggerBody()?['freshdesk_webhook']?['ticket_status']",
                  "cases": {
                    "Resolved": {
                      "case": "Resolved",
                      "actions": {
                        "Close_Sentinel_Incident_Resolved": {
                          "type": "Http",
                          "inputs": {
                            "method": "PATCH",
                            "uri": "@concat('https://management.azure.com/subscriptions/', parameters('SubscriptionId'), '/resourceGroups/', parameters('ResourceGroupName'), '/providers/Microsoft.OperationalInsights/workspaces/', parameters('WorkspaceName'), '/providers/Microsoft.SecurityInsights/incidents/', triggerBody()?['freshdesk_webhook']?['ticket_cf_sentinel_incident_id'], '?api-version=2023-11-01')",
                            "headers": {
                              "Authorization": "@concat('Bearer ', body('Get_Bearer_Token')?['access_token'])",
                              "Content-Type": "application/json"
                            },
                            "body": {
                              "properties": {
                                "status": "Closed",
                                "classification": "TruePositive",
                                "classificationComment": "@concat('Resolved via Freshservice ticket #', triggerBody()?['freshdesk_webhook']?['ticket_id'], '. Resolution: ', triggerBody()?['freshdesk_webhook']?['ticket_resolution_notes'])"
                              }
                            }
                          }
                        }
                      }
                    },
                    "Closed": {
                      "case": "Closed",
                      "actions": {
                        "Close_Sentinel_Incident_Closed": {
                          "type": "Http",
                          "inputs": {
                            "method": "PATCH",
                            "uri": "@concat('https://management.azure.com/subscriptions/', parameters('SubscriptionId'), '/resourceGroups/', parameters('ResourceGroupName'), '/providers/Microsoft.OperationalInsights/workspaces/', parameters('WorkspaceName'), '/providers/Microsoft.SecurityInsights/incidents/', triggerBody()?['freshdesk_webhook']?['ticket_cf_sentinel_incident_id'], '?api-version=2023-11-01')",
                            "headers": {
                              "Authorization": "@concat('Bearer ', body('Get_Bearer_Token')?['access_token'])",
                              "Content-Type": "application/json"
                            },
                            "body": {
                              "properties": {
                                "status": "Closed",
                                "classification": "TruePositive",
                                "classificationComment": "@concat('Closed via Freshservice ticket #', triggerBody()?['freshdesk_webhook']?['ticket_id'])"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "default": {
                    "actions": {
                      "Add_Comment_Status_Change": {
                        "type": "Http",
                        "inputs": {
                          "method": "POST",
                          "uri": "@concat('https://management.azure.com/subscriptions/', parameters('SubscriptionId'), '/resourceGroups/', parameters('ResourceGroupName'), '/providers/Microsoft.OperationalInsights/workspaces/', parameters('WorkspaceName'), '/providers/Microsoft.SecurityInsights/incidents/', triggerBody()?['freshdesk_webhook']?['ticket_cf_sentinel_incident_id'], '/comments?api-version=2023-11-01')",
                          "headers": {
                            "Authorization": "@concat('Bearer ', body('Get_Bearer_Token')?['access_token'])",
                            "Content-Type": "application/json"
                          },
                          "body": {
                            "properties": {
                              "message": "@concat('Freshservice ticket #', triggerBody()?['freshdesk_webhook']?['ticket_id'], ' status changed to: ', triggerBody()?['freshdesk_webhook']?['ticket_status'])"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "Return_400_No_Incident_ID": {
                    "type": "Response",
                    "inputs": {
                      "statusCode": 400,
                      "body": { "error": "sentinel_incident_id custom field is missing from webhook payload." }
                    }
                  }
                }
              }
            },
            "Return_200_OK": {
              "runAfter": { "Validate_Sentinel_Incident_ID_Present": ["Succeeded"] },
              "type": "Response",
              "inputs": { "statusCode": 200, "body": { "status": "synced" } }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "sentinelToFreshservicePlaybookId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', variables('sentinelToFreshservicePlaybookName'))]"
    },
    "webhookReceiverUrl": {
      "type": "string",
      "value": "[listCallbackUrl(resourceId('Microsoft.Logic/workflows/triggers', variables('webhookReceiverPlaybookName'), 'HTTP_Webhook_from_Freshservice'), '2019-05-01').value]"
    }
  }
}
