playbooks/Sentinel-Freshservice-SyncComments/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "Sentinel-Freshservice-SyncComments",
    "description": "Polls Microsoft Sentinel incidents linked to a Freshservice ticket for new comments and mirrors them as Freshservice ticket notes. Comments carrying the '🔶 Freshservice note' marker (written by Freshservice-Sentinel-WebhookReceiver) are skipped to avoid an echo loop between the two systems.",
    "version": "1.0.0"
  },
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "Sentinel-Freshservice-SyncComments"
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "TenantId": { "type": "string" },
    "ClientId": { "type": "string" },
    "SubscriptionId": { "type": "string", "defaultValue": "[subscription().subscriptionId]" },
    "ResourceGroupName": { "type": "string", "defaultValue": "[resourceGroup().name]" },
    "WorkspaceName": { "type": "string" },
    "FreshserviceDomain": { "type": "string" },
    "KeyVaultName": { "type": "string" },
    "PollingFrequencyMinutes": { "type": "int", "defaultValue": 10 }
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[parameters('location')]",
      "identity": { "type": "SystemAssigned" },
      "tags": {
        "hidden-SentinelTemplateName": "Sentinel-Freshservice-SyncComments",
        "hidden-SentinelTemplateVersion": "1.0.0"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "TenantId":            { "defaultValue": "[parameters('TenantId')]",            "type": "String" },
            "ClientId":            { "defaultValue": "[parameters('ClientId')]",            "type": "String" },
            "SubscriptionId":      { "defaultValue": "[parameters('SubscriptionId')]",      "type": "String" },
            "ResourceGroupName":   { "defaultValue": "[parameters('ResourceGroupName')]",   "type": "String" },
            "WorkspaceName":       { "defaultValue": "[parameters('WorkspaceName')]",       "type": "String" },
            "FreshserviceDomain":  { "defaultValue": "[parameters('FreshserviceDomain')]",  "type": "String" },
            "KeyVaultName":        { "defaultValue": "[parameters('KeyVaultName')]",        "type": "String" },
            "PollingFrequencyMinutes": { "defaultValue": "[parameters('PollingFrequencyMinutes')]", "type": "Int" }
          },
          "triggers": {
            "Recurrence_Poll_Comments": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Minute",
                "interval": "[parameters('PollingFrequencyMinutes')]"
              }
            }
          },
          "actions": {
            "Fetch_ClientSecret": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "@concat('https://', parameters('KeyVaultName'), '.vault.azure.net/secrets/SentinelClientSecret?api-version=7.4')",
                "authentication": { "type": "ManagedServiceIdentity", "audience": "https://vault.azure.net" }
              }
            },
            "Fetch_FreshApiKey": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "@concat('https://', parameters('KeyVaultName'), '.vault.azure.net/secrets/FreshserviceApiKey?api-version=7.4')",
                "authentication": { "type": "ManagedServiceIdentity", "audience": "https://vault.azure.net" }
              }
            },
            "Get_Bearer_Token": {
              "runAfter": { "Fetch_ClientSecret": ["Succeeded"], "Fetch_FreshApiKey": ["Succeeded"] },
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "@concat('https://login.microsoftonline.com/', parameters('TenantId'), '/oauth2/v2.0/token')",
                "headers": { "Content-Type": "application/x-www-form-urlencoded" },
                "body": "@concat('grant_type=client_credentials&client_id=', parameters('ClientId'), '&client_secret=', body('Fetch_ClientSecret')?['value'], '&scope=https://management.azure.com/.default')"
              }
            },
            "Compute_Last_Poll_Time": {
              "runAfter": { "Get_Bearer_Token": ["Succeeded"] },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "lastPollTime",
                    "type": "string",
                    "value": "@{addMinutes(utcNow(), sub(0, add(parameters('PollingFrequencyMinutes'), 1)))}"
                  }
                ]
              }
            },
            "List_Recently_Modified_Incidents": {
              "runAfter": { "Compute_Last_Poll_Time": ["Succeeded"] },
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "@concat('https://management.azure.com/subscriptions/', parameters('SubscriptionId'), '/resourceGroups/', parameters('ResourceGroupName'), '/providers/Microsoft.OperationalInsights/workspaces/', parameters('WorkspaceName'), '/providers/Microsoft.SecurityInsights/incidents?api-version=2023-11-01&$filter=', 'properties/lastModifiedTimeUtc ge ', variables('lastPollTime'), '&$orderby=properties/lastModifiedTimeUtc desc&$top=100')",
                "headers": {
                  "Authorization": "@concat('Bearer ', body('Get_Bearer_Token')?['access_token'])"
                }
              }
            },
            "For_Each_Incident": {
              "runAfter": { "List_Recently_Modified_Incidents": ["Succeeded"] },
              "type": "Foreach",
              "foreach": "@body('List_Recently_Modified_Incidents')?['value']",
              "actions": {
                "Find_FS_Ticket_Label": {
                  "type": "Query",
                  "inputs": {
                    "from": "@item()?['properties']?['labels']",
                    "where": "@startsWith(item()?['labelName'], 'fs-ticket-')"
                  }
                },
                "If_FS_Ticket_Linked": {
                  "runAfter": { "Find_FS_Ticket_Label": ["Succeeded"] },
                  "type": "If",
                  "expression": { "greater": ["@length(body('Find_FS_Ticket_Label'))", 0] },
                  "actions": {
                    "Extract_FS_Ticket_ID": {
                      "type": "Compose",
                      "inputs": "@replace(first(body('Find_FS_Ticket_Label'))?['labelName'], 'fs-ticket-', '')"
                    },
                    "Get_Incident_Comments": {
                      "runAfter": { "Extract_FS_Ticket_ID": ["Succeeded"] },
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "@concat('https://management.azure.com/subscriptions/', parameters('SubscriptionId'), '/resourceGroups/', parameters('ResourceGroupName'), '/providers/Microsoft.OperationalInsights/workspaces/', parameters('WorkspaceName'), '/providers/Microsoft.SecurityInsights/incidents/', item()?['name'], '/comments?api-version=2023-11-01')",
                        "headers": {
                          "Authorization": "@concat('Bearer ', body('Get_Bearer_Token')?['access_token'])"
                        }
                      }
                    },
                    "Filter_New_Non_Echo_Comments": {
                      "runAfter": { "Get_Incident_Comments": ["Succeeded"] },
                      "type": "Query",
                      "inputs": {
                        "from": "@body('Get_Incident_Comments')?['value']",
                        "where": "@and(greaterOrEquals(item()?['properties']?['createdTimeUtc'], variables('lastPollTime')), not(contains(item()?['properties']?['message'], '🔶 Freshservice note')))"
                      }
                    },
                    "For_Each_New_Comment": {
                      "runAfter": { "Filter_New_Non_Echo_Comments": ["Succeeded"] },
                      "type": "Foreach",
                      "foreach": "@body('Filter_New_Non_Echo_Comments')",
                      "actions": {
                        "Post_Comment_as_FS_Note": {
                          "type": "Http",
                          "inputs": {
                            "method": "POST",
                            "uri": "@concat('https://', parameters('FreshserviceDomain'), '/api/v2/tickets/', outputs('Extract_FS_Ticket_ID'), '/notes')",
                            "headers": {
                              "Authorization": "@concat('Basic ', base64(concat(body('Fetch_FreshApiKey')?['value'], ':X')))",
                              "Content-Type": "application/json"
                            },
                            "body": {
                              "body": "@concat('🔷 Synced from Sentinel (', coalesce(item()?['properties']?['author']?['name'], 'automation'), '):<br><br>', item()?['properties']?['message'])",
                              "private": true
                            }
                          }
                        }
                      }
                    }
                  },
                  "else": { "actions": {} }
                }
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "playbookResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    },
    "principalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2019-05-01', 'Full').identity.principalId]"
    }
  }
}
